header {
    background-color: $black;
    .app__navmenu {
        @include wrapper($main-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        & img {
            height: 30px;
            width: 30px;
        }
    }
}
