/* Brand colors */

$black: #18121E;
$gray: #233237;
$green: #3CC47C;
$accent: #EAC67A;

/* Fonts */

$brand-font: 'Catamaran', sans-serif;

$xs: 12px;
$small: 14px;
$medium: 18px;
$large: 24px;
$xl: 32px;

/* Wrappers */

$main-width: 70%;