/* Brand colors */

$black: #1E392A;
$gray: #828081;
$green: #3CC47C;
$accent: #E9C893;

/* Fonts */

$brand-font: 'Catamaran', sans-serif;

$xs: 12px;
$small: 14px;
$medium: 18px;
$large: 24px;
$xl: 32px;

/* Wrappers */

$main-width: 70%;